<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>注册</title>
</head>
<style>
</style>
<body>
<div id="regist_form">
  <dl>
    <form action="regist/regist" method="post">
      <dt>
        <h1>注册页面</h1>
        <p>姓名:<input type="text" name="UserName"></p>
      </dt>
      <dt>
        <p>密码:<input type="password" name="UserPasswd"></p>
      </dt>
      <dt>
        <p>手机:<input type="text" name="UserPhone"></p>
      </dt>
      <dt>
        <p>邮件:<input type="text" name="UserEmail"></p>
      </dt>
      <dt>
        <p><input type="submit" value="注册"></p>
      </dt>
    </form>
  </dl>
</div>
</body>
</html>